<div class="absolute right-0 bottom-0 left-0 h-80 p-4 bg-secondary rounded-t-lg shadow-lg z-40" *ngIf="show">
    <!-- <div class="absolute right-40 top-2 left-40 h-1 bg-dark rounded-full z-30" (click)="swipeOut()">
        <span class="sr-only">Gesture Button</span>
    </div>
    <div class="absolute right-0 top-0 left-0 h-8 bg-transparent z-100" swipeDown (swipedDown)="swipeOut()">
        <span class="sr-only">Gesture Box</span>
    </div> -->
    <div class="absolute top-8 right-4 bottom-8 left-4 text-white overflow-hidden" (click)="swipeOut()">
        <h5 class="text-lg font-semibold dark:text-white">Bottom sheet</h5>
        <p class="text-sm text-dark">This bottom sheet shows an example of the implemented <span class="text-accent">SwipeDownDirective</span>.</p>
        <div class="flex mt-4 h-24 w-full justify-center text-static_gray">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5" /><path d="M11 11.5v-2a1.5 1.5 0 1 1 3 0v2.5" /><path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5" /><path d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" /></svg>
        </div>
    </div>
    <div class="absolute right-4 bottom-8 left-4 flex h-12 justify-center items-center bg-gradient-to-r from-nxtpurple to-test text-white rounded-lg cursor-pointer" (click)="swipeOut()">
        Dismiss
    </div>
</div>